<a href="https://colab.research.google.com/github/Geethika1205/SML/blob/main/employe%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd

In [66]:
df=pd.read_csv("/content/employee_survey.csv")

In [67]:
df

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,Dept,EmpType,WLB,WorkEnv,...,SleepHours,CommuteMode,CommuteDistance,NumCompanies,TeamSize,NumReports,EduLevel,haveOT,TrainingHoursPerYear,JobSatisfaction
0,6,Male,32,Married,Mid,7,IT,Full-Time,1,1,...,7.6,Car,20,3,12,0,Bachelor,True,33.5,5
1,11,Female,34,Married,Mid,12,Finance,Full-Time,1,1,...,7.9,Car,15,4,11,0,Bachelor,False,36.0,5
2,33,Female,23,Single,Intern/Fresher,1,Marketing,Full-Time,2,4,...,6.5,Motorbike,17,0,30,0,Bachelor,True,10.5,5
3,20,Female,29,Married,Junior,6,IT,Contract,2,2,...,7.5,Public Transport,13,2,9,0,Bachelor,True,23.0,5
4,28,Other,23,Single,Junior,1,Sales,Part-Time,3,1,...,4.9,Car,20,0,7,0,Bachelor,False,20.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,2070,Male,47,Married,Lead,16,Marketing,Part-Time,1,3,...,6.8,Public Transport,15,8,28,8,Master,False,58.0,1
3021,2072,Female,47,Married,Lead,8,IT,Contract,3,1,...,6.9,Car,28,8,21,8,Master,True,54.0,1
3022,2145,Male,41,Married,Lead,17,IT,Full-Time,1,1,...,6.1,Public Transport,9,6,23,3,Master,True,58.5,1
3023,2168,Female,54,Married,Lead,16,IT,Full-Time,1,5,...,7.7,Public Transport,18,10,30,7,Master,True,58.0,1
3024,2183,Female,44,Married,Lead,22,Marketing,Full-Time,3,3,...,6.2,Car,10,7,29,4,PhD,False,61.0,1

In [68]:
df['Gender']=df['Gender'].replace({'Male':0,'Female':1,'Other':2})
df['MaritalStatus'] = df['MaritalStatus'].replace({'Single': 0, 'Married': 1})
df['JobLevel'] = df['JobLevel'].replace({'Junior':0,'Mid': 1, 'Lead': 2,'Intern/Fresher':3})
df['EmpType'] = df['EmpType'].replace({'Part-Time': 0, 'Full-Time': 1,'Contract':2})

In [69]:
df

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,Dept,EmpType,WLB,WorkEnv,...,SleepHours,CommuteMode,CommuteDistance,NumCompanies,TeamSize,NumReports,EduLevel,haveOT,TrainingHoursPerYear,JobSatisfaction
0,6,0,32,1,1,7,IT,1,1,1,...,7.6,Car,20,3,12,0,Bachelor,True,33.5,5
1,11,1,34,1,1,12,Finance,1,1,1,...,7.9,Car,15,4,11,0,Bachelor,False,36.0,5
2,33,1,23,0,3,1,Marketing,1,2,4,...,6.5,Motorbike,17,0,30,0,Bachelor,True,10.5,5
3,20,1,29,1,0,6,IT,2,2,2,...,7.5,Public Transport,13,2,9,0,Bachelor,True,23.0,5
4,28,2,23,0,0,1,Sales,0,3,1,...,4.9,Car,20,0,7,0,Bachelor,False,20.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,2070,0,47,1,2,16,Marketing,0,1,3,...,6.8,Public Transport,15,8,28,8,Master,False,58.0,1
3021,2072,1,47,1,2,8,IT,2,3,1,...,6.9,Car,28,8,21,8,Master,True,54.0,1
3022,2145,0,41,1,2,17,IT,1,1,1,...,6.1,Public Transport,9,6,23,3,Master,True,58.5,1
3023,2168,1,54,1,2,16,IT,1,1,5,...,7.7,Public Transport,18,10,30,7,Master,True,58.0,1
3024,2183,1,44,1,2,22,Marketing,1,3,3,...,6.2,Car,10,7,29,4,PhD,False,61.0,1

In [70]:
df['haveOT']=df['haveOT'].replace({'False':1,'True':0})

In [71]:
df

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,Dept,EmpType,WLB,WorkEnv,...,SleepHours,CommuteMode,CommuteDistance,NumCompanies,TeamSize,NumReports,EduLevel,haveOT,TrainingHoursPerYear,JobSatisfaction
0,6,0,32,1,1,7,IT,1,1,1,...,7.6,Car,20,3,12,0,Bachelor,True,33.5,5
1,11,1,34,1,1,12,Finance,1,1,1,...,7.9,Car,15,4,11,0,Bachelor,False,36.0,5
2,33,1,23,0,3,1,Marketing,1,2,4,...,6.5,Motorbike,17,0,30,0,Bachelor,True,10.5,5
3,20,1,29,1,0,6,IT,2,2,2,...,7.5,Public Transport,13,2,9,0,Bachelor,True,23.0,5
4,28,2,23,0,0,1,Sales,0,3,1,...,4.9,Car,20,0,7,0,Bachelor,False,20.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,2070,0,47,1,2,16,Marketing,0,1,3,...,6.8,Public Transport,15,8,28,8,Master,False,58.0,1
3021,2072,1,47,1,2,8,IT,2,3,1,...,6.9,Car,28,8,21,8,Master,True,54.0,1
3022,2145,0,41,1,2,17,IT,1,1,1,...,6.1,Public Transport,9,6,23,3,Master,True,58.5,1
3023,2168,1,54,1,2,16,IT,1,1,5,...,7.7,Public Transport,18,10,30,7,Master,True,58.0,1
3024,2183,1,44,1,2,22,Marketing,1,3,3,...,6.2,Car,10,7,29,4,PhD,False,61.0,1

In [72]:
df.drop('Dept',inplace=True,axis=1)

In [73]:
df.drop('CommuteMode',inplace=True,axis=1)

In [74]:
df.drop('EduLevel',inplace=True,axis=1)

In [75]:
df.drop('haveOT',inplace=True,axis=1)

In [76]:
df

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,EmpType,WLB,WorkEnv,PhysicalActivityHours,Workload,Stress,SleepHours,CommuteDistance,NumCompanies,TeamSize,NumReports,TrainingHoursPerYear,JobSatisfaction
0,6,0,32,1,1,7,1,1,1,2.5,2,1,7.6,20,3,12,0,33.5,5
1,11,1,34,1,1,12,1,1,1,1.8,2,2,7.9,15,4,11,0,36.0,5
2,33,1,23,0,3,1,1,2,4,2.1,5,4,6.5,17,0,30,0,10.5,5
3,20,1,29,1,0,6,2,2,2,1.9,3,1,7.5,13,2,9,0,23.0,5
4,28,2,23,0,0,1,0,3,1,3.7,2,1,4.9,20,0,7,0,20.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,2070,0,47,1,2,16,0,1,3,1.9,4,3,6.8,15,8,28,8,58.0,1
3021,2072,1,47,1,2,8,2,3,1,1.5,2,1,6.9,28,8,21,8,54.0,1
3022,2145,0,41,1,2,17,1,1,1,1.3,1,1,6.1,9,6,23,3,58.5,1
3023,2168,1,54,1,2,16,1,1,5,2.5,3,3,7.7,18,10,30,7,58.0,1
3024,2183,1,44,1,2,22,1,3,3,1.1,3,5,6.2,10,7,29,4,61.0,1

In [77]:
y=df['JobSatisfaction']
y

0       5
1       5
2       5
3       5
4       5
       ..
3020    1
3021    1
3022    1
3023    1
3024    1
Name: JobSatisfaction, Length: 3025, dtype: int64

In [78]:
x=df.drop('JobSatisfaction',axis=1)
x

,EmpID,Gender,Age,MaritalStatus,JobLevel,Experience,EmpType,WLB,WorkEnv,PhysicalActivityHours,Workload,Stress,SleepHours,CommuteDistance,NumCompanies,TeamSize,NumReports,TrainingHoursPerYear
0,6,0,32,1,1,7,1,1,1,2.5,2,1,7.6,20,3,12,0,33.5
1,11,1,34,1,1,12,1,1,1,1.8,2,2,7.9,15,4,11,0,36.0
2,33,1,23,0,3,1,1,2,4,2.1,5,4,6.5,17,0,30,0,10.5
3,20,1,29,1,0,6,2,2,2,1.9,3,1,7.5,13,2,9,0,23.0
4,28,2,23,0,0,1,0,3,1,3.7,2,1,4.9,20,0,7,0,20.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3020,2070,0,47,1,2,16,0,1,3,1.9,4,3,6.8,15,8,28,8,58.0
3021,2072,1,47,1,2,8,2,3,1,1.5,2,1,6.9,28,8,21,8,54.0
3022,2145,0,41,1,2,17,1,1,1,1.3,1,1,6.1,9,6,23,3,58.5
3023,2168,1,54,1,2,16,1,1,5,2.5,3,3,7.7,18,10,30,7,58.0
3024,2183,1,44,1,2,22,1,3,3,1.1,3,5,6.2,10,7,29,4,61.0

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model = LogisticRegression()
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'Divorced'