<a href="https://colab.research.google.com/github/Geethika1205/SML/blob/main/Untitled34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df=pd.read_csv("/content/Train.csv")

In [8]:
df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
8064,464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
8065,465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
8066,467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
8067,461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [9]:
df.head(220)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
215,462742,Male,No,18,No,Healthcare,0.0,Low,3.0,Cat_3,D
216,459528,Female,Yes,52,Yes,Doctor,0.0,Average,2.0,Cat_6,C
217,462691,Male,Yes,25,No,Doctor,NaN,Average,2.0,Cat_4,B
218,462934,Male,Yes,56,No,Executive,NaN,High,2.0,Cat_6,A
219,465837,Male,No,62,Yes,NaN,0.0,Low,1.0,Cat_6,A

In [12]:
df['Ever_Married']=df['Ever_Married'].replace({'No':0,'Yes':1})
df['Gender'] = df['Gender'].replace({'Female': 0, 'Male': 1})
df['Spending_Score'] = df['Spending_Score'].replace({'High': 1, 'Low': 0,'Average':2})
df

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0.0,22,No,Healthcare,1.0,0,4.0,Cat_4,D
1,462643,0,1.0,38,Yes,Engineer,NaN,2,3.0,Cat_4,A
2,466315,0,1.0,67,Yes,Engineer,1.0,0,1.0,Cat_6,B
3,461735,1,1.0,67,Yes,Lawyer,0.0,1,2.0,Cat_6,B
4,462669,0,1.0,40,Yes,Entertainment,NaN,1,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...,...
8063,464018,1,0.0,22,No,NaN,0.0,0,7.0,Cat_1,D
8064,464685,1,0.0,35,No,Executive,3.0,0,4.0,Cat_4,D
8065,465406,0,0.0,33,Yes,Healthcare,1.0,0,1.0,Cat_6,D
8066,467299,0,0.0,27,Yes,Healthcare,1.0,0,4.0,Cat_6,B
8067,461879,1,1.0,37,Yes,Executive,0.0,2,3.0,Cat_4,B

In [ ]:
df['Ever_Married']=df['Ever_Married'].replace({'No':0,'Yes':1})
df['Gender'] = df['Gender'].replace({'Female': 0, 'Male': 1})
df['Spending_Score'] = df['Spending_Score'].replace({'High': 1, 'Low': 0,'Average':2})
df