<a href="https://colab.research.google.com/github/Geethika1205/SML/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [6]:
df=pd.read_csv("/content/Book1.csv")
print(df)

   study hours per week  class attendance %  previous exam score  \
0                    10                  90                   85
1                     5                  60                   70
2                    15                  95                   90
3                     2                  30                   50
4                    12                  85                   88
5                     8                  74                   65
6                    14                  92                   93
7                     3                  50                   55
8                    11                  88                   80
9                     6                  65                   60

   participation in group study  subission of assignments  pass or fail
0                             1                       100             1
1                             0                        80             0
2                             1                       100             1
3                             0                        40             0
4                             1                        90             1
5                             0                        70             0
6                             1                        95             1
7                             0                        60             0
8                             1                        85             1
9                             0                        75             0

In [7]:
t=df["pass or fail"]
print(t)

0    1
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    0
Name: pass or fail, dtype: int64

In [8]:
f=df.drop("pass or fail",axis=1)
print(f)

   study hours per week  class attendance %  previous exam score  \
0                    10                  90                   85
1                     5                  60                   70
2                    15                  95                   90
3                     2                  30                   50
4                    12                  85                   88
5                     8                  74                   65
6                    14                  92                   93
7                     3                  50                   55
8                    11                  88                   80
9                     6                  65                   60

   participation in group study  subission of assignments
0                             1                       100
1                             0                        80
2                             1                       100
3                             0                        40
4                             1                        90
5                             0                        70
6                             1                        95
7                             0                        60
8                             1                        85
9                             0                        75

In [9]:
 w0,w1,w2,w3,w4,w5,x0=1,2,0.5,1,2,1,1

In [23]:
z=w0*x0+w1*df['study hours per week']+w2*df['class attendance %']+w3*df['previous exam score']+w4*df['participation in group study']+w5*df['subission of assignments']
print(z)

0    253.0
1    191.0
2    270.5
3    110.0
4    247.5
5    189.0
6    265.0
7    147.0
8    234.0
9    180.5
dtype: float64

In [11]:
yp=[]
for i in range(0,10):
  if z[i]>0:
     yp.append(1)
  else:
     yp.append(0)

In [12]:
print(yp)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [13]:
error=t-yp

In [14]:
print(error)

0    0
1   -1
2    0
3   -1
4    0
5   -1
6    0
7   -1
8    0
9   -1
Name: pass or fail, dtype: int64

In [15]:
m=(error*error).sum()/9
print(m)
a=(error).sum()/9
print(a)

0.5555555555555556
-0.5555555555555556

In [16]:
wnew=w0+1*a*x0
wnew1=w1+1*a*(df['study hours per week'].sum()/9)
wnew2=w2+1*a*(df['class attendance %'].sum()/9)
wnew3=w3+1*a*(df['previous exam score'].sum()/9)
wnew4=w4+1*a*(df['participation in group study'].sum()/9)
wnew5=w5+1*a*(df['subission of assignments'].sum()/9)

In [17]:
print(wnew)
print(wnew1)
print(wnew2)
print(wnew3)
print(wnew4)
print(wnew5)

0.4444444444444444
-3.3086419753086425
-44.5
-44.432098765432094
1.691358024691358
-48.074074074074076

In [24]:
wnew,wnew1,wnew2,wnew3,wnew4,wnew5,x0=0.4444444444444444,-3.3086419753086425,-44.5,-44.432098765432094,1.691358024691358,-48.074074074074076,1

In [26]:
z=wnew*x0+wnew1*df['study hours per week']+wnew2*df['class attendance %']+wnew3*df['previous exam score']+wnew4*df['participation in group study']+wnew5*df['subission of assignments']

In [19]:
yp=[]
for i in range(0,10):
  if z[i]>0:
     yp.append(1)
  else:
     yp.append(0)

In [20]:
print(yp)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
error=t-yp
print(error)

0    1
1    0
2    1
3    0
4    1
5    0
6    1
7    0
8    1
9    0
Name: pass or fail, dtype: int64

In [29]:
meansquareerror=(error*error).sum()/9
print(meansquareerror)

0.5555555555555556